@font-face {
    font-family: Mave-Font;
    src: url(font/Bona_Nova_SC/BonaNovaSC-Regular.ttf);
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}
@font-face {
    font-family: Header-Font;
    src: url(font/Merienda/Merienda-VariableFont_wght.ttf);
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}
* {
    padding: 0;
    margin: 0;
    border: none;
    box-sizing: border-box;
}
body {
        background-color: rgb(28, 79, 79);

}
.con {
    height: 100vh;
}

.main-con {
    width: 100%;
    height: 80%;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 10px 0px;
    background-color: rgb(28, 79, 79);
}
.frame-con {
    width: 320px;
    height: 400px;
    background-color: gray;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 18px;
    border-radius: 5px ;
}

.profile-con {
    display: flex;
    width: 100%;
    padding: 5px 10px;
    margin-top: -15px;
    background-color: whIte;
    border-radius: 5px 5px 0px 0px ;
    align-items: center;
    gap: 5px;
    font-family: monospace, serif, Header-Font;
    font-size: 15px;
}

.son-con {
    display: flex;
    justify-content: center;
    width:  300px;
    height: 300px;
    align-items: center;
    background-image: url(/img/BCG.png);
    background-size: contain;
    background-attachment: scroll;
    text-align: center;
    font-family: Mave-Font, monospace;
    border-radius: 2px;
    font-size: 15px;
}
.name {
    display: flex;
    gap: 2px;
}
svg {
    fill: rgb(4, 4, 200);
    width: 15px;
}
.text-con {
    width: 80%;
    max-height: 115px;
    
}

button {
    border: 1px solid gray;
    width: 110px;
    text-align: center;
    padding: 3px 0;
    box-sizing: content-box;
    border-radius: 10px;
}

input {
    border: 1px solid gray;
    height: 25px;
    width: 200px;
    font-family: monospace, serif;
    border-radius: 10px;
    outline: none;
    padding: 0 2px;
}

label {
    font-family: Header-Font, monospace, sans-serif;
}

.head-con {
    height: 10%;
}

.input-con {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
    gap: 10px;
}
